<header class="topbar">
  <div class="topbar__inner">
    <a class="brand" href="/">
      <span class="brand__mark"></span>
      <span class="brand__text">Datasheet</span>
    </a>
    <nav class="nav">
      <a class="nav__link {% if request.path == '/' %}is-active{% endif %}" href="/">Timer</a>
      <a class="nav__link {% if request.path|slice:':6' == '/todo/' %}is-active{% endif %}" href="/todo/">Todo</a>
      <a class="nav__link {% if request.path == '/performance/' %}is-active{% endif %}" href="{% url 'performance' %}">Performance</a>
    </nav>
    <div class="topbar__actions">
      <button class="btn btn--ghost" id="themeToggle" type="button">
        <span class="icon material-symbols-rounded" aria-hidden="true">brightness_6</span>
        Theme
      </button>
      <a class="btn btn--ghost" href="/admin">
        <span class="icon material-symbols-rounded" aria-hidden="true">admin_panel_settings</span>
        {% if user.is_authenticated %}Admin{% else %}Login{% endif %}
      </a>
    </div>
  </div>
</header>
